{% extends "./base.html" %}

{% block title %} EBC - Gestion de Cursos {% endblock %}

{% block body %}
<div class="row">
    <div class="col-md-4 offset-md-4">
        <h2> Edicion de Cursos </h2>
        <div class="card">
            <div class="card-body">
                <form action="/editarCurso/" method="post">{% csrf_token %}
                    <div class="form-group"> 
                        <input type="text" id="txtCodigo" name="txtCodigo" value="{{curso.codigo}}" class="form-control" placeholder="Codigo" minlength="5" maxlength="6" readonly required> 
                    </div>
                    <div class="form-group">
                        <input type="text" id="txtNombre" name="txtNombre" value="{{curso.nombre}}" class="form-control" placeholder="Nombre" maxlength="58" required> 
                    </div>
                    <div class="form-group">
                        <input type="text" id="numCreditos" name="numCreditos" value="{{curso.creditos}}" class="form-control" min="1" max="9" value="1" required> 
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-success btn-block text-white">Guardar</button>
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>
{% endblock %}